<% if master_piece.liked_by?(current_user) %>
  <p><%= link_to "登録をキャンセル", master_piece_likes_path(master_piece), method: :delete, remote: true, class: "btn btn-danger" %></p>
<% else %>
  <p><%= link_to "お気に入りに登録", master_piece_likes_path(master_piece), method: :post, remote: true, class: "btn btn-success" %></p>
<% end %>
