<h4 class="exhibition mt-2">検索結果</h4>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= search_master_piece %></td>
      </tr>
    </tbody>
  </table>