<div class="container">
  <div class="row">
    <h1 class="title mx-auto">About.  Music   Master   Piece</h1>
    <p class="text mx-auto">クラッシックアルバムからマイナーアルバムまで自分が名盤だと思う音楽の紹介や他ユーザの投稿を閲覧できるサイトです。</p>
  </div>
</div>

<div id="container">
  <div id="theTarget">
    <div class="stage"></div>
    <div class="no_music"></div>
    <div class="record2"></div>
    <div class="tape_index"></div>
    <div class="index"></div>
    <div class="drum"></div>
  </div>
</div>

