<h3>MusicMasterPieceとは</h3>
<p>クラッシックアルバムからマイナーアルバムまで自分が名盤だと思う音楽の紹介や他ユーザの投稿を閲覧できるサイトです。</p>

<%= link_to "新規登録", new_user_registration_path,class: 'btn btn-sm btn-outline-secondary mt-2' %><br>
<%= link_to "ログイン", new_user_session_path,class: 'btn btn-sm btn-outline-secondary mt-2' %>
