<div class="container">
  <div class="row">
    <h1 class="title mx-auto">About.  Music   Master   Piece</h1>
    <p class="text mx-auto">クラッシックアルバムからマイナーアルバムまで自分が名盤だと思う音楽の紹介や他ユーザの投稿を閲覧できるサイトです。</p>
  </div>
</div>

<div id="container">
  <div id="theTarget">
    <div class="stage"></div>
    <div class="no_music"></div>
    <div class="record2"></div>
    <div class="tape_index"></div>
    <div class="index"></div>
    <div class="drum"></div>
  </div>
</div>

<!--<div class="container mx-auto">-->
<!--  <div class="row">-->
<!--    <div class="col d-flex justify-content-center">-->
<!--      <%#= link_to "新規登録", new_user_registration_path,class: 'btn btn-sm btn-success mt-2 mx-2' %>-->
<!--      <%#= link_to "ログイン", new_user_session_path,class: 'btn btn-sm btn-primary mt-2 mx-2' %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


