// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "skippr";

#container{
  height: auto;
  aspect-ratio: 16 / 9;
}

.title {
  font-family: 'Monoton', cursive;
}

.title:hover {
  color: red;
}

.text {
  font-family: 'Rampart One', cursive;
}

.text:hover {
  color: blue;
}

.stage {
  background-image: image-url('stage.jpg');
}

.no_music {
  background-image: image-url('no_music.jpg');
}

.record2 {
  background-image: image-url('record2.jpg');
}

.tape_index {
  background-image: image-url('tape_index.jpg');
}
.index {
  background-image: image-url('index.jpg');
}
.drum {
  background-image: image-url('drum.jpg');
}
