// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "skippr";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=New+Rocker&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=New+Rocker&family=Rampart+One&family=Train+One&display=swap');

#container{
  height: 500px;
}

.title {
  // font-family: 'New Rocker', cursive;
  font-family: 'Monoton', cursive;
}

.title:hover {
  color: red;
}

.text {
  font-family: 'Rampart One', cursive;
}

.text:hover {
  color: blue;
}

.stage {
  background-image: image-url('stage.jpg');
  // background-position: bottom !important;
  background-size: cover !important;
}

.no_music {
  background-image: image-url('no_music.jpg');
  background-position: center !important;
  background-size: cover !important;
}

.record2 {
  background-image: image-url('record2.jpg');
}

.tape_index {
  background-image: image-url('tape_index.jpg');
}
.index {
  background-image: image-url('index.jpg');
}
.drum {
  background-image: image-url('drum.jpg');
  background-position: center !important;
  background-size: cover !important;
}
