<footer class ="fixed-bottom">
  <div class="container-fluid" style="background-color: #FF6928">
    <div class="row">
      <div class="col">
        <div class= "d-flex justify-content-center mt-2 mb-2">
          <%= link_to root_path, class: "btn btn-light text-black mx-2", method: :get do %>
            <i class="fas fa-home fa-spin"></i>
          <% end %>
          <%= link_to "https://github.com/Koizumi1989", class: "btn btn-dark text-white mx-2", method: :get do %>
            <i class="fab fa-github fa-spin"></i>
          <% end %>
          <%= link_to new_contacts_path, class: "btn btn-primary text-white mx-2", method: :get do %>
            <i class="far fa-envelope fa-spin"></i>
          <% end %>

          <%= link_to notifications_path, class: "btn btn-warning text-black mx-2", method: :get do %>
          <% if unchecked_notifications.present? %>
            <span class="fa-stack small" style="width: 1.2em;">
              <i class="fa-solid far fa-bell fa-stack-2x" style="font-size: 0.8em; margin-left: -0.4em;" ></i>
              <i class="fa-solid fas fa-circle fa-stack-2x fa-inverse" style= "font-size: 0.3em; color: red; margin-right: -1em; margin-top: -0.1em;"></i>
            </span>
          <% else %>
            <i class="far fa-bell fa-spin"></i>
          <% end %>
          <% end %>

        </div>
        <div class="d-flex justify-content-center">ロゴは <a href="https://www.designevo.com/jp/" title="無料オンラインロゴメーカー">DesignEvo</a> ロゴメーカーさんに作られる</div>
      </div>
    </div>
  </div>
</footer>
